snippet temp "template" b
.de LI
.IP \(bu 2
..
.EQ
delim $$
.EN


.TL
$1
.AU
Manuel Deodato
.AI
$2
.NH 
$0
endsnippet

snippet EQ "equation env" iA 
.EQ
$1
.EN
$0
endsnippet 

snippet mk "inline eq" iA 
$$1$ $0
endsnippet

snippet i1 "element list" iA
.LI
$0
endsnippet

snippet li2 "nested list 2" iA
.RS 4
.IP \[sq] 3
$0
.RE
endsnippet

snippet i2 "item of nested list 2" b
.IP \[sq] 3
$0
endsnippet

snippet bf "bold" iA
.B "$1" $0
endsnippet
